/**
 * CONTENTS
 *
 * SETTINGS
 * Global imports...............font style imports.
 *
 *
 * GENERIC
 * Normalize........Reset margin and padding styles.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings, a, etc..............Define general styles.
 * 
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Specific UI components
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Main.................The main content elements.
 *
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto&display=swap');

/* Variables */
:root {
  --gray-light: rgb(247, 247, 249);
  --gray-dark: rgb(41, 43, 44);
  --primary-color: rgb(104, 151, 197);
  --secondary-color: #ae8d61;
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

/*------------------------------------*\
  #BASE
\*------------------------------------*/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  background: var(--gray-light);
}

@media (min-width: 48em) {
  body {
    font-size: 1.1rem;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: var(--primary-color);
}

h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: capitalize;
}

h2 {
  margin-bottom: 2rem;
  padding-top: 1rem;
  text-transform: uppercase;
  border-top: 0.125rem solid #696e74;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  margin-right: 0.4rem;
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

abbr {
  font-variant: none;
}

/*Clases aplicadas a las imágenes y videos del sitio */

img {
  max-width: 100%;
  height: auto;
}

figure {
  width: 75%;
  margin: 4rem auto;
}

figure.smaller {
  width: 40%;
}

figcaption {
  font-size: 0.8rem;
}

.video-fluid {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.video-fluid-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-fluid::before {
  display: block;
  content: '';
  padding-top: 56.25%;
}

/*Clases aplicadas a los botones del sitio */
.btn {
  display: inline-block;
  white-space: nowrap;
  margin: 0.5rem 1rem;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.btn-highligth {
  background-color: var(--secondary-color);
  color: white;
}

.btn-border {
  border: 0.125rem solid var(--secondary-color);
}

.btn-border:hover {
  background-color: rgb(174, 141, 97, 0.7);
  color: black;
  cursor: pointer;
}

@media (min-width: 48em) {
  .btn {
    font-size: 1.2rem;
  }
}

/*Clases aplicadas a los elementos preformateados del sitio */

code {
  font-family: 'Courier New';
}

.code__elem {
  display: inline-block;
  font-size: 1.1rem;
  vertical-align: middle;
  padding: 0.2rem 0.4rem;
  background: rgb(104, 151, 197, 0.1);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.code__block {
  display: block;
  position: relative;
  overflow: auto;
  width: 75%;
  padding: 0;
  border: 1px solid #aaa;
  border-left: 5px solid #356494;
  border-radius: 1rem;
  background: rgb(104, 151, 197, 0.1);
}

.code__block__element {
  position: absolute;
  display: block;
  top: 0.5rem;
  left: 2rem;
}

.code__block:before {
  display: block;
  content: '';
  padding-top: 40%;
}

/*------------------------------------*\
  #OBJECTS WRAPPERS
\*------------------------------------*/

.container {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 48em) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.flex-container {
  display: block;
}

@media (min-width: 48em) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

@media (min-width: 48em) {
  .flex-container--left {
    justify-content: flex-end;
  }
}

@media (min-width: 48em) {
  .flex-container__col--40 {
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (min-width: 48em) {
  .flex-container__col--60 {
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media (min-width: 48em) {
  .flex-container__col--50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/* TOP */

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 4rem;
}

@media (min-width: 48em) {
  .top {
    flex-direction: row;
    justify-content: space-between;
  }
}

.top__logo {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.top__logo a:hover {
  cursor: pointer;
}

.showcase {
  margin-bottom: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.showcase__box {
  min-height: 350px;
  display: flex;
  align-items: center;
}

.showcase--solid {
  min-height: 400px;
  color: white;
  background-image: linear-gradient(to right top, #6897c5, #259fc2, #00a4ad, #00a688, #55a35d);
}

.showcase--image-1 {
  min-height: 500px;
  background-image: url('./images/home-office_1440.jpg');
  background-image: image-set(
    url('./images/home-office_1220.jpg') 1x,
    url('./images/home-office_1440.jpg') 2x
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.showcase--image-2 {
  min-height: 500px;
  background-image: url('./images/coding_1440.jpg');
  background-image: image-set(
    url('./images/coding_1220.jpg') 1x,
    url('./images/coding_1440.jpg') 2x
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.showcase__title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  word-wrap: break-word;
  color: inherit;
}

.showcase__title--inbox {
  padding: 1rem 8rem 1rem 1rem;
  background-color: rgb(104, 151, 197, 0.8);
  border-bottom: 1px solid var(--gray-dark);
  box-shadow: 0 2px 4px var(--gray-dark);
}

@media (min-width: 48em) {
  .showcase__title {
    font-size: 4rem;
  }
}

@media (min-width: 60em) {
  .showcase__title {
    font-size: 5rem;
  }
}

.showcase__subtitle {
  min-width: 10rem;
  max-width: 40rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.25;
}

@media (min-width: 48em) {
  .showcase__subtitle {
    font-size: 1.5rem;
  }
}

.section {
  margin-bottom: 3rem;
}

.section__block {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.article {
  margin-bottom: 3rem;
}

.article__block {
  padding-bottom: 3rem;
}

.article__block p {
  padding-left: 1.5rem;
}

.article__main-paragraf {
  font-size: 1.6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/* CARDS */

.card {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px var(--gray-dark);
  padding: 2rem 1rem 4rem 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.card > * {
  flex: 1 1 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-weight: 300;
  text-transform: uppercase;
}

.card__content {
  text-align: center;
}

/* Opacity animation */
.card__image img {
  opacity: 1;
  transition-duration: 0.5s;
}
.card__image:hover img {
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

/* FOOTER */

.footer {
  font-size: 0.8rem;
  color: white;
  text-align: center;
  background-color: rgb(174, 141, 97, 0.8);
}

/* Contenedor para aplicar clip-path */
.inner {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-image: linear-gradient(to right top, #6897c5, #259fc2, #00a4ad, #00a688, #55a35d);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

@media (min-width: 76em) {
  .inner {
    background-image: linear-gradient(to right top, #6897c5, #259fc2, #00a4ad, #00a688, #55a35d);
    clip-path: polygon(40% 0%, 65% 0%, 60% 100%, 35% 100%);
  }
}

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/** Basic styles for an animated element */
.scene_element {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.scene_element--slow {
  animation-duration: 3s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/** An element that fades in */
.scene_element--fadein {
  animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
  animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
  animation-name: fadeInRight;
}

/** An link element that shrinks */
.link_element--shrink {
  transition-duration: 1s;
}
.link_element--shrink:hover {
  transform: scale(0.8);
  transition: transform 0.5s;
}

/** An link element that rotates */
.link_element--rotate {
  transition-duration: 1s;
}

.link_element--rotate:hover {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
